<%- include('partials/header') -%>

  <section class="section my-4">
    <div class="container text-center">
      <div class="title py-5">
        <h1>Node File Uploader</h1>
        <p>Upload images to the <strong>Server</strong></p>
      </div>

      <div class="row justify-content-center">
        <div class="col-4">
          <form action="/uploadmultiple"  enctype="multipart/form-data" method="POST">
            <div class="row">
              <div class="col-9">
                <input type="file" name="images" class="form-control" id="formFile" multiple>
              </div>
              <div class="col-2">
                <input type="submit" class="btn btn-warning" value="upload images">
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Upload images -->
      <section class="mt-5">
        <div class="row">
          <div class="col-3">
            <div class="card shadow" style="width: 18rem;">
              <img src="..." class="card-img-top img-fluid">
              <div class="card-body">
                <h5 class="card-title font-poppins">UI/UX DESIGNS</h5>
                <p class="text-secondary font-size-09">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info text-light font-size-09">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

<%- include('partials/footer') -%>

